/*
red: #F44040
blue: #35ACEF
purple: #AA3FAA
green: #ACDD5E
*/

body {
  margin: 0;
font-family: Cambria,Georgia,serif;
  background:snow;
  color:#222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:1em;
  font-weight:normal;
  margin: 0;
  padding: 0;
}
a{
  text-decoration:none;
  color:#222;
}
hr{
  margin-bottom:20px;
  padding:0;
  border:none;
  border-bottom:1px solid #ccc;
}
.txt-title{
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
  text-transform:uppercase;
    font-weight:bold;
}
.txt-sm{
  font-size:1em;
}
.txt-md{
  font-size:1.25em;
}
.txt-lg{
  font-size:1.75em;
}
.txt-italic{
    font-style: italic;
}
.container {
  width: 90%;
	max-width: 960px;
	margin: 0px auto;
    outline:none;
}
.cont-portfolio{
      	-webkit-column-width: 290px;
      	   -moz-column-width: 290px;
      	        column-width: 290px;
	-webkit-column-gap: 15px;
	   -moz-column-gap: 15px;
	        column-gap: 15px;
margin-top:15px;
        max-width: 400px;
}
#header{
  -webkit-transition: all .3s ease;
  transition:all .3s ease;
}
.cont-header{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-top:5px;
  padding-bottom:5px;
}
.container-hide {
  height: 0 !important;
  min-height:0 !important;
  overflow: hidden;
  margin:0;
  padding:0;
}
.header-left{
    display:inline-block;
  vertical-align:middle;
  margin-bottom:15px;
}
ul.header-right{
  list-style:none;
  padding:0;
  margin:0;
}
ul.header-right li{
  margin:0;
  border:2px solid #222;
 float:left;
  margin-left:5px;
  font-size:4vw;
}
ul.header-right:first-child{
   margin-left:0px;
}
ul.header-right li a{
 float:left;
    padding:10px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  		position: relative;
		overflow: hidden;
}
ul.header-right li a:before{
content: "";
		position: absolute;
		z-index: -1;
		background: #222;
		height: 0px;
		width: 0px;
		border-radius: 50%;
  top:-120px;
  left:-120px;
}
ul.header-right li a:hover{
  color:snow;
  	-webkit-transition: color .2s ease-out .2s;
  	transition: color .2s ease-out .2s;
}
ul.header-right li a:hover:before {
height:350px;
  width:350px;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
ul.header-side{
  display:none;
}
@media only screen and (min-width: 700px) {
.cont-portfolio{
        max-width: 960px;
}
  #header{
     border-bottom:2px solid rgba(255,255,255,0);
  }
.cont-header{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}
 .header-left{
  margin-bottom:0px;
}
  ul.header-right li{
  font-size:1em;
}
ul.header-side{
  position:fixed;
  right:0;
  top:50%;
  transform:translate(100%,-50%);
  list-style:none;
  padding:0;
  margin:0;
  transition:transform .2s ease;
    display:block;
    z-index: 100;
}
ul.header-side-show{
transform:translate(0%,-50%);
}
ul.header-side li{
  margin-bottom:10px;
  border: 2px solid #222;
  width:40px;
}
ul.header-side li a{
  position:relative;
    display: inline-block;
}
ul.header-side li a span{
  position:absolute;
width:0px;
  background:#222;
  color:snow;
transform:translate(100%,0%);
  box-sizing:border-box;
  padding-top:20px;
  padding-bottom:20px;
  line-height:0px;
  vertical-align:middle;
  overflow:hidden;
  transition: transform .3s ease;
width:100px;
 text-align:center;
  white-space:no-break;
  z-index:-1;
}
ul.header-side li a:hover span{
  display:inline;
    overflow:show;
  transform:translate(-140px,0%);
}
ul.header-side li:last-child{
  margin:0;
}
ul.header-side li a img{
  vertical-align:top;
    background-color: snow;
}
}
.warn{
  text-align:center;
  background:#fea56f;
  border:3px solid #F44040;
  font-weight:bold;
  padding:10px;
  box-sizing:border-box;
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    color:#222;
    max-width: 960px;
    margin: 0 auto;
}
/*PORTFOLIO ITEMS*/
.content{
  margin-bottom:15px;
    display: inline-block;
  column-break-inside: avoid;
}
.content-wrap {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size:0;
}
.frontface .image{
    background:#F44040;
}
.backface {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: #222;
  visibility: hidden;
  box-sizing: border-box;
  overflow: hidden;
  background: snow;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size:1rem;
  padding:10px;
  border:4px solid #222;
}

.backface h1 {
  margin-bottom:1em;
  display:inline-block;
  position:relative;
}
.backface h1:after{
  content:"&bull;&bull;&bull;";
  position:absolute;
    bottom:-1em;
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

.content-wrap:hover .frontface {
  visibility: hidden;
}

.content-wrap:hover .backface {
  visibility: visible;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.content-wrap img {
  width: 100%;
  height: auto;
}
/*PORTFOLIO LIGHTBOX*/
.lightbox {
  width: 100%;
  position: absolute;
  left: 0;
  top: -100vh;
  background: #222;
  opacity: 0;
  z-index: -1;
  color: snow;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: top .3s ease-out;
  transition: top .3s ease-out;
}

.lightbox.expand {
  z-index: 300;
  height: auto;
  min-height: 100vh;
  opacity: 1;
  top:0px;
}

.lightbox-content {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.lightbox-text {
  width: 100%;
  float: none;
  box-sizing:border-box;
}

.lightbox-image {
    width: 100%;
    height: 500px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  text-align: center;
  margin-bottom: 20px;
}

.lightbox-image img {
  width: 100%;
  height: auto;
}

.lightbox .close {
  background: none;
  outline: none;
  cursor: pointer;
  color: snow;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
border:1px solid #222;
  position: absolute;
    top:0;
    right:0;
  margin-top: 0;
  margin-left: 0;
  width: 2.5em;
  height: 2.5em;
  padding:0;
    background-color: #222;
}
.lightbox .close:before{
  content: '';
  position: absolute;
   top: 1.1em;
  left:0px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.lightbox .close:after{
  content: '';
  position: absolute;
   top: 1.1em;
    left:0px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.lightbox .close:hover{
border:1px solid snow;
  -webkit-transform:scale(1.1);
          transform:scale(1.1);
}
/*big phone*/
@media only screen and (min-width: 600px) {
}

/*tablet*/
@media only screen and (min-width: 800px) {
 
}
/*desktop*/
@media only screen and (min-width: 1000px) {
  .lightbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lightbox-content {
    max-width: none;
   width: 75%;
      display:table;
  }
  .lightbox-text {
    width: 40%;
  padding-left:15px;
    display: table-cell;
    vertical-align: middle;
  }
  .lightbox-image {
    width: 60%;
    height: 600px;
    margin-bottom: 0px;
    text-align: right;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right;
    display: table-cell;
    vertical-align: middle;
  }
}
/*LIGHTBOX LINKS*/
.lightbox-link{
  background:none;
  display:inline-block;
  padding:7px;
  box-sizing:border-box;
  color:snow;
  border:1px solid snow;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  text-decoration:none;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
.lightbox-link[href=no] { 
    display:none;
}
.lightbox-link:hover{
  color:#222;
  background:snow;
}
.lightbox-link span{
  margin-left:1.6em;
}
/*new stuff*/
i{
  color:snow;
}
i.icon-link{
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
  width: 7px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
     -webkit-transition: all .3s ease-out;
     transition: all .3s ease-out;
}

i.icon-link:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

i.icon-link:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

i.icon-dl{
  position: absolute;
  margin-left: 3px;
  margin-top: 12px;
  width: 13px;
  height: 4px;
  border-radius: 1px;
  border: solid 1px currentColor;
  border-top: none;
     -webkit-transition: all 0s ease-out;
     transition: all 0s ease-out;
}

i.icon-dl:before {
  content: '';
  position: absolute;
  left: 6px;
  top: -9px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
     -webkit-transition: all .3s ease-out;
     transition: all .3s ease-out;
}

i.icon-dl:after {
  content: '';
  position: absolute;
  left: 4px;
  top: -4px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
          -webkit-transform: rotate(135deg) translateY(0px);
                  transform: rotate(135deg) translateY(0px);
     -webkit-transition: all .3s ease-out;
     transition: all .3s ease-out;
}
i.icon-pic{
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid 1px currentColor;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

i.icon-pic:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

i.icon-pic:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 9px;
  width: 12px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
}
i.icon-play{
    position: absolute;
  margin-left: 2px;
  margin-top: 9px;
  width: 13px;
  height: 8px;
  border-radius: 2px;
  border: solid 1px currentColor;
    
}
i.icon-play:before{
    content: '';
  position: absolute;
  left: 4px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border: solid 1px currentColor;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
}
i.icon-play:after{
    content: '';
  position: absolute;
  left: 6px;
  top: -6px;
  width: 3px;
  height: 9px;
  border-left: solid 1px currentColor;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
   -webkit-transition: all .2s ease;
   transition: all .2s ease;
}
/*animate on hover*/
.lightbox-link:hover i{
  color:#222;
}
.lightbox-link:hover i.icon-link{
  -webkit-transform:rotate(315deg);
          transform:rotate(315deg);
}

.lightbox-link:hover i.icon-dl:before{
  -webkit-transform:translateY(4px);
          transform:translateY(4px);
}
.lightbox-link:hover i.icon-dl:after{
  -webkit-transform:rotate(135deg) translate(2px,-2px);
          transform:rotate(135deg) translate(2px,-2px);
}
.lightbox-link:hover i.icon-pic{
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
.lightbox-link:hover i.icon-play:before{
  -webkit-transform:translateX(3px);
          transform:translateX(3px);
}
.lightbox-link:hover i.icon-play:after{
  -webkit-transform:rotate(15deg);
          transform:rotate(15deg);
}
/*ABOUT AND CONTACT*/
#about, #contact{
  min-height:100vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.aboutme{
  margin-bottom:50px;
}
.skillset-title{
  margin-bottom:15px;
}
.skill-row{
  width:100%;
}
.skill-row:after {
  content: "";
  display: table;
  clear: both;
}
.skill-item{
  display:block;
  margin-bottom:15px;
box-sizing:border-box;
}
@-webkit-keyframes skillpic {
  0%   { -webkit-transform:scale(.5); transform:scale(.5); opacity:0; }
   40%   { -webkit-transform:scale(1.1); transform:scale(1.1); opacity:1; }
  100% { -webkit-transform:scale(1); transform:scale(1); opacity:1;}
}
@keyframes skillpic {
  0%   { -webkit-transform:scale(.5); transform:scale(.5); opacity:0; }
   40%   { -webkit-transform:scale(1.1); transform:scale(1.1); opacity:1; }
  100% { -webkit-transform:scale(1); transform:scale(1); opacity:1;}
}
.skill-pic{
  max-width:150px;
  height:150px;
  margin:0 auto;
  margin-bottom:5px;
 font-size:0px;
  opacity:0;
}
.in-view{
  -webkit-animation: skillpic 1s ease 0s forwards;
          animation: skillpic 1s ease 0s forwards;
}
 .skill-row:nth-of-type(1) > .skill-item:nth-of-type(1) > div{
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
 .skill-row:nth-of-type(1) > .skill-item:nth-of-type(2) > div{
-webkit-animation-delay: .25s;
        animation-delay: .25s;
}
 .skill-row:nth-of-type(2) > .skill-item:nth-of-type(1) > div{
-webkit-animation-delay: .5s;
        animation-delay: .5s;
}
 .skill-row:nth-of-type(2) > .skill-item:nth-of-type(2) > div{
-webkit-animation-delay: .75s;
        animation-delay: .75s;
}
.skill-item h2{
  text-align:center;
  border-bottom:2px solid #222;
  padding-bottom:5px;
  margin-bottom:5px;
}
.skill-item p{
  margin:0;
  padding:0;
}
.cont-item-wrapper{
  margin-top:30px;
   margin-bottom:30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -ms-flex-wrap:ltr;
      flex-wrap:ltr;
   -ms-flex-flow: row wrap;
       flex-flow: row wrap;
}
.cont-item{
  width:170px;
  box-sizing:border-box;
  margin-bottom:50px;
  z-index:10;
  text-align:center;
}
.cont-item a{
  display:block;
  width:100%;
  -webkit-transition: all .6s ease;
  transition:all .6s ease;
}
.cont-item a img{
  background:snow;
  border:6px solid snow;
}
.cont-text{
  -webkit-transform:scale(1);
          transform:scale(1);
  padding:0;
  margin:0;
-webkit-transition: all .3s ease;
transition:all .3s ease;
}
.cont-item a:hover .cont-text{
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
@media only screen and (min-width: 500px) {
  .skill-item{
    width:50%;
    float:left;
    padding:10px;
}
}
@media only screen and (min-width: 900px) {
  .skill-row{
    width:50%;
    float:left;
  }
    .cont-item{
        margin-bottom:0px;
}
}
/*FOOTER*/
.footer{
  text-align:center;
  width:0px;
height:45px;
  margin-top:-45px;
  z-index:1;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
  overflow:hidden;
    background-image:
    -webkit-linear-gradient(
      #ACDD5E,
      #ACDD5E 33%,
      #35ACEF 33%,
      #35ACEF 66%,
      #F44040 66%
    );
    background-image:
    linear-gradient(
      #ACDD5E,
      #ACDD5E 33%,
      #35ACEF 33%,
      #35ACEF 66%,
      #F44040 66%
    );
}
.footer-grow{
  width:100%;
}

.footer div{
  display:table;
  vertical-align:bottom;
  background:snow;
  height:100%;
  padding-left:10px;
  padding-right:10px;
  margin:0 auto;
}
.footer div span{
  display:table-cell;
  vertical-align:middle;
  height:100%;
  font-size:.8em;
   white-space: nowrap;
}
