<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset="UTF-8">
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <meta name=description content="Kyla Vana's portfolio website">
  <meta name=author content="Kyla Vana">
 
<!--<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/favicons/manifest.json">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">-->
<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
   <script>
if (window.location.host.indexOf('github.io') > -1 && window.location.protocol != "https:"){
    window.location.protocol = "https";
}
</script>
	
<style>
body {
  margin: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background:white;
  color:#222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:1em;
  font-weight:normal;
  margin: 0;
  padding: 0;
}
p{
  line-height:1.25em;
}
a{
  text-decoration:none;
  color:#222;
}
hr{
  margin-bottom:20px;
  padding:0;
  border:none;
  border-top:1px solid #ccc;
  height:1px;
}
.txt-title{
font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
  text-transform:uppercase;
    font-weight:bold;
}
.txt-sm{
  font-size:1em;
}
.txt-md{
  font-size:1.25em;
}
.txt-lg{
  font-size:1.75em;
}
.container {
  width: 90%;
	max-width: 960px;
	margin: 0px auto;
  outline:none;
}
.cont-portfolio{
      	-webkit-column-width: 290px;
      	   -moz-column-width: 290px;
      	        column-width: 290px;
	-webkit-column-gap: 15px;
	   -moz-column-gap: 15px;
	        column-gap: 15px;
margin-top:15px;
  min-height:100vh;
  text-align:center;
}
#header{
  -webkit-transition: all .3s ease;
  transition:all .3s ease;
}
.cont-header{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  padding-top:5px;
  padding-bottom:5px;
}
.container-hide {
  height: 0 !important;
  min-height:0 !important;
  overflow: hidden;
  margin:0;
  padding:0;
}
.header-left{
    display:inline-block;
  vertical-align:middle;
  margin-bottom:15px;
}
ul.header-right{
  list-style:none;
  padding:0;
  margin:0;
}
ul.header-right li{
  margin:0;
  border:2px solid #222;
 float:left;
  margin-left:5px;
  font-size:4vw;
}
ul.header-right:first-child{
   margin-left:0px;
}
ul.header-right li a{
 float:left;
    padding:10px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  		position: relative;
		overflow: hidden;
}
ul.header-right li a:before{
content: "";
		position: absolute;
		z-index: -1;
		background: #222;
		height: 0px;
		width: 0px;
		border-radius: 50%;
  top:-120px;
  left:-120px;
}
ul.header-right li a:hover{
  color:white;
  	-webkit-transition: color .2s ease-out .2s;
  	transition: color .2s ease-out .2s;
}
ul.header-right li a:hover:before {
height:350px;
  width:350px;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
@media only screen and (min-width: 600px) {
  #header{
     border-bottom:2px solid rgba(255,255,255,0);
  }
.cont-header{
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
}
 .header-left{
  margin-bottom:0px;
}
  ul.header-right li{
  font-size:1em;
}

}
/*PORTFOLIO ITEMS*/
.content{
   opacity:0;
}
</style>
	
  <title>Kyla Vana - Portfolio</title> 
    
</head>

 <body ng-app="app">
<!--header-->
<div id="header">
  <div class="container cont-header txt-title txt-md" >
    <span class="header-left">Kyla Vana</span>
    <ul class="header-right">
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>

<!--deferred styles-->
<noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</noscript>     
       <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>      
<noscript>
<div class="warn"><span>(╯︵╰,)<br><span class="txt-italic">Oh noes!</span> It looks like you've disabled javascript - please enable it to see this page as intended.</span></div>
</noscript>
	 
<!--portfolio app-->
<div>
<div ng-controller="portfolioController" class="container cont-portfolio" id="portfolio">  

<div ng-repeat="content in portfolioItems" class="content">
      <div class="content-wrap" onclick="expand_lb(this)">
        <div class="frontface">
          <div class="image">
            <img src='https://kylavana.github.io/port_items/{{content.image_cover}}' alt="portfolio image"/></div>
        </div>
        <!--end front-->
        <div class="backface">
          <div>
            <h1 class="txt-title txt-lg">{{content.title}}</h1>
            <h2 class="txt-md">{{content.subtitle}}</h2>
          </div>
          <noscript>
        </noscript>
        </div>
        <!--end back-->
      </div>
      <!--end content-wrap-->
      <div class="lightbox">
        <div class="lightbox-content">
          <div class="lightbox-text">
                 <button class="close txt-title" onclick="close_lb()"></button>
            <h1 class="txt-lg txt-title">{{content.title}}</h1>
            <h2 class="txt-title txt-md" style="color:#69656e;">{{content.subtitle}}</h2>
            <p class="txt-md" style="white-space:pre-wrap;">{{content.desc}}</p>
         <a href={{content.link}} class="lightbox-link"><i class={{content.link_class}}></i><span>{{content.link_txt}}</span></a>
          </div> 
          <div class="lightbox-image">
            <a ng-repeat="i in content.image_set" href='{{i[1]}}' title="{{i[3]}}" target="_blank"><img class="img-defer" defer-img='https://kylavana.github.io/port_items/{{i[0]}}' src="nope" alt="portfolio image"/>{{i[2]}}</a>     
          </div>
        </div>
      </div>
      <!--end modal-->
    </div>
    <!--end content-->
  
</div>
  <!--end controller/container-->
</div>
<!--end portfolio app-->
<hr>
<!--about section-->
<div class="container" id="about">
  <div class="section-wrapper">
  <h1 class="txt-title txt-lg">My background</h1>
  <p class="txt-md aboutme">I'm a professional graphic designer and illustrator with over seven years of experience.  Additionally, I have nearly six years of experience in web design and font-end development. My aesthetic tends towards clean lines, inviting colors and overall less-is-more mentality. I graduated from Miami University (Oxford Ohio) with a Bachelor's degree of Arts in Architecture. After College, I worked in the architectural field for over two years, but ultimately decided to pursue a career in graphic/web design which has allowed me to more fully utilize my creative skills. Through my experience in both fields, I have developed a wide skillset that can bring a unique and fresh perspective to your team or project.</p>
  <h1 class="txt-title txt-lg skillset-title">Skillset</h1>
<div class="skill-wrapper">

        <div class="skill-item">
       <div class="skill-pic"><img src="https://kylavana.github.io/icon_dsgn.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_dsgn.png'" alt="graphic design icon" height="100%" width="100%"></div>
         <div class="skill-txt">
        <h2 class="txt-title txt-sm">Illustration</h2>
        <p>I have done professional illustrations for over 7 years.  My work includes everything from detailed technical illustrations to icons and pixel artwork. I am very experienced with Adobe Photoshop, Adobe Illustrator, GIMP, and Inkscape.</p>
         </div>
      </div>
    <!--end skill-item-->
  
       <div class="skill-item">
       <div class="skill-pic"><img src="https://kylavana.github.io/icon_illus.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_illus.png'" alt="illustration icon" height="100%" width="100%"></div>
         <div class="skill-txt">
        <h2 class="txt-title txt-sm">Graphic Design</h2>
        <p>Posters, booklets, brochures, infographics and icons are just a few types of collateral I have worked on. I am skilled with Adobe InDesign, Adobe Acrobat, and Scribus. Additionally, I have experience working with professional printers to see projects through production.</p>
         </div>
      </div>
      <!--end skill-item--> 
  
      <div class="skill-item">
      <div class="skill-pic"><img src="https://kylavana.github.io/icon_webdev.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_webdev.png'" alt="web development icon" height="100%" width="100%"></div>
        <div class="skill-txt">
        <h2 class="txt-title txt-sm">Web Development</h2>
        <p>With nearly 6 years of experience in front end design and development, I am fluent with HTML, CSS, and Javascript. I have experience working with the jQuery and Angular libraries, as well as CSS preprocessors like SCSS. Additionally, I am familiar with writing php and working with Wordpress and sql databases.</p>
          </div>
      </div>         
      <!--end skill-item-->
  
        <div class="skill-item">
        <div class="skill-pic"><img src="https://kylavana.github.io/icon_misc.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_misc.png'" alt="addition skills icon" height="100%" width="100%"></div>
          <div class="skill-txt">
        <h2 class="txt-title txt-sm">Additional Skills</h2>
         <p>Throughout my career, I have developed several additional skills including: Animation (web and flash), 3D modeling (Sketchup) and video editing (Adobe Premier). I am also skilled with traditional media such as charcoal and watercolor.</p>
          </div>
      </div>
      <!--end skill-item--> 
  
  </div>
 <!--emd skill-wrapper-->
</div>
  <!--end section-wrapper-->
</div>
<!--end about container-->
<hr>
  <!--contact-->
  <div class="container" id="contact">
    <div class="section-wrapper">
      <div class="cont-item-wrapper">
        <div class="cont-item">
          <a href="mailto:kyla.extra@gmail.com">
         <img src="https://kylavana.github.io/icon_email.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_email.png'" alt="email icon" width="100" height="100">
          <p class="txt-title cont-text">Send me an email</p>
          </a>
        </div>
        <!--emd cont item-->
        <div class="cont-item">
          <a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">
         <img src="https://kylavana.github.io/icon_linkedin.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_linkedin.png'" alt="linkedin icon" width="100" height="100">
          <p class="txt-title cont-text">LinkedIn</p>
          </a>
        </div>
        <!--emd cont item-->
        <div class="cont-item">
          <a href="https://kylavana.github.io/kyla_vana_resume.pdf">
         <img src="https://kylavana.github.io/icon_resume.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_resume.png'" alt="resume icon" width="100" height="100">
          <p class="txt-title cont-text">Resume</p>
          </a>
        </div>
        <!--emd cont item-->
        <div class="cont-item">
          <a href="http://issuu.com/kyla.v/docs/kyla_portfolio">
         <img src="https://kylavana.github.io/icon_issuu.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_issuu.png'" alt="issuu icon" width="100" height="100">
          <p class="txt-title cont-text">issuu</p>
          </a>
        </div>
        <!--emd cont item-->
               <div class="cont-item">
          <a href="https://codepen.io/kvana/public/">
         <img src="https://kylavana.github.io/icon_codepen.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_codepen.png'" alt="codepen icon" width="100" height="100">
          <p class="txt-title cont-text">Codepen</p>
          </a>
        </div>
        <!--emd cont item-->
              <div class="cont-item">
          <a href="http://www.coroflot.com/kylav/portfolio">
         <img src="https://kylavana.github.io/icon_coroflot.svg" onerror="this.onerror=null; this.src='https://kylavana.github.io/icon_coroflot.png'" alt="Coroflot icon" width="100" height="100">
          <p class="txt-title cont-text">Coroflot</p>
          </a>
        </div>
        <!--emd cont item-->
      </div>
      <!--emd skill wrapper-->
    </div>
    <!--emd section-wrapper-->
</div>
  <!--end contact container-->
<div class="footer">
<div class="date-wrapper"><span class="txt-title date" ng-controller="yearController">©Kyla Vana  {{date | date:'yyyy'}}</span></div>
</div>
  
<script src='js/angular.min.js'></script>
<script async src="js/functions.js"></script>  
<script>

// Define the `portfolioApp` module
var app = angular.module("app", []);

//define `yearController`
app.controller('yearController', function ($scope) {
$scope.date = new Date();
});

// Define the `portfolioController`
app.controller('portfolioController', function ($scope) {
  $scope.portfolioItems = [
    {
      title: 'Technical Illustrations',
      subtitle: 'Visualizing Building and Infrastructure Systems',
       image_cover:'tech_ill_cover.jpg',
      image_set: [['port_lurie.jpg', '/port_items/port_lurie_big.jpg', "Mechanical Floor of the Lurie Children's Hospital of Chicago", 'See full size'], ['nrel_redb.jpg', '/port_items/nrel_redb_big.jpg', "Cut-away view of the Energy Systsems Intragration Facility at the National Renewable Energy Laboratory (Golden, CO)", 'See full size'], ['port_utmb.jpg', '/port_items/port_utmb_big.jpg', "Proposed new infrastructure tunnels for the University of Texas Medical Branch (Galveston, TX)", 'See full size']],
      desc:"These illustrations were done for Affiliated Engineers, Inc. to be used in presentations to prospective clients.  Complex engineered systems are simplified and shown in context, making them more accessible to a non-technical audience.\nAll of the illustrations started as 3D models in Sketchup, post-processing was done in Adobe Illustrator and Photoshop to improve line quality and add depth and texture.",
      link:'no',
      link_class:'',
      link_txt:'',
    },
        {
      title: 'Ads & Brochures',
      subtitle: 'Various Projects',
      image_cover:'auto_test_ad_cover.gif',
      image_set: [['auto_test_ad.gif', '/port_items/auto_test_ad_big.png', 'Engineering Services advertisement in "Automotive Testing Magazine"', 'See full size'], ['recruitment_brch.png', '/port_items/recruitment_brchr.pdf', 'College recruiting brochure for Affiliated Engineers, Inc.', 'View the brochure'], ['water_brch.png', '/port_items/chicago_initiative.pdf', 'Water use optimization brochure', 'View the brochure']],
      desc:"Marketing collateral designed for Affiliated Engineers, Inc.  These pieces represent a collaborative effort – copy was provided by a creative writer, and photos were purchased from professional photographers.  I was drew the icons/illustrations in Adobe Illustrator, and laid everything out in Adobe InDesign.  Additionally, I was responsible for preparing the files for production and working with the professional printers/magazine editors.",
      link:'no',
      link_class:'',
      link_txt:'',
    },
       {
      title: 'Doomhold',
      subtitle: 'Video Game Development',
      image_cover:'port_vgame.gif',
      image_set: [['port_vgame.gif', '/doomhold_demo_1.0.0.3.zip', '', 'Download the demo']],
      desc:"Doomhold is a Retro action/RPG video game currently in development. I am doing all the programming as well as creating all of the art assets for the project. The demo is currently available for windows 7+.",
      link:'/doomhold_demo_1.0.0.3.zip',
      link_class:'icon-dl',
      link_txt:'Download the demo'
    },
        {
      title: 'Traditional Media',
      subtitle: 'Drawings and Prints',
      image_cover:'port_fist.gif',
      image_set: [['port_fist.gif', '/port_items/fistprint_big.jpg', 'Linoleum Print', 'See full size'], ['castle.jpg', '/port_items/castle_big.jpg', 'Cardiff Castle, Wales - Charcoal on paper', 'See full size'], ['eye.jpg', '/port_items/eyeprint_big.jpg', 'Linoleum Print', 'See full size']],
      desc:"Personal projects done with traditional media, specifically charcoal and linoleum print.  These are two of my favorite media to work with - I enjoy the methodical, reductive process of printmaking, while charcoal is perfect for quick, expressive sketching.",
      link:'no',
      link_class:'',
      link_txt:'',
    },
    {
      title: 'Happy Birthday, FiL!',
      subtitle: 'Digital Booklet',
      image_cover:'fil_anm_cake.gif',
      image_set: [['fil_anm_cake.gif', 'http://www.aeieng.com/images/misc/fil_bday.html', '', 'View the booklet'], ['fil_anm_stars.gif', 'http://www.aeieng.com/images/misc/fil_bday.html', '', 'View the booklet'], ['fil_anm_brainpwr.gif', 'http://www.aeieng.com/images/misc/fil_bday.html', '', 'View the booklet']],
      desc:"A web-based booklet celebrating the 1-year anniversary of Affiliated Engineers, Inc.'s new knowledge sharing platform (nick-named FiL). The booklet features a user driven page-turning effect (only on desktops) and animation to help bring the illustrations to life. The illustrations were drawn with Adobe Illustrator, and animated by css.",
      link:'http://www.aeieng.com/images/misc/fil_bday.html',
      link_class:'icon-link',
      link_txt:'View the booklet',
    },
         {
      title: 'Infographics',
      subtitle: 'Visualizing Information',
      image_cover:'infographic_cover.png',
      image_set: [['dist_nrg.png', '/port_items/dist_nrg_big.png', 'Advancement of district energy technology', 'See full size'], ['telehealth.png', '/port_items/telehealth_big.jpg', 'Development and decentralization of healthcare delivery in the United States', 'See full size'], ['circle_diag.jpg', '/port_items/circle_diag_big.jpg', 'Workflow diagram - Affiliated Engineers, Inc.', 'See full size']],
      desc:"The ability to communicate information is becoming increasingly important. Therefore, I try to represent data in my infographics in a clean and approachable manner.",
      link:'no',
      link_class:'',
      link_txt:'',
    },
  {
      title: 'Graphic Art',
      subtitle: 'Various Projects',
      image_cover:'port_abso.gif',
      image_set: [['port_abso.gif', '/port_items/port_abso.gif', 'Sticker Artwork - tradeshow swag', 'See full size'], ['adapt_or_die.gif', 'http://securitytechnologyexecutive.epubxp.com/i/870734-sep-oct-2017', 'Cover artwork for "Security Technology Executive" Magazine (Sept 2017 issue)', 'Read the magazine'], ['feather_weight.gif', '/port_items/feather_weight.gif', 'Artwork for article about vehicle lightweighting in "Automotive Testing Magazine"', 'See full size'], ['chili_cookoff.png', '/port_items/chili_cookoff_big.gif', 'Artwork for chili cook-off poster', 'See full size']],
      desc:"Visually impactful artwork designed to grab the viewer's attention.  All pieces were drawn in Adobe Illustrator.",
      link:'no',
      link_class:'',
      link_txt:'',
    },
   {
      title: 'Intelligent Buildings',
      subtitle: 'Booklet Design and Illustration',
      image_cover:'ib_book.gif',
      image_set: [['ib_book.gif', 'http://issuu.com/kyla.v/docs/ib_booklet?workerAddress=ec2-54-224-253-214.compute-1.amazonaws.com', 'Cover', 'Read the booklet'], ['ib_book2.jpg', 'http://issuu.com/kyla.v/docs/ib_booklet?workerAddress=ec2-54-224-253-214.compute-1.amazonaws.com', 'Inside spread', 'Read the booklet']],
      desc:"This booklet was created as marketing collateral for Affiliated Engineers Inc.'s Intelligent Building (IB) Group. The IB group specializes in optimizing data to improve building energy efficiency and lower maintenance costs. In addition to designing the layout of the booklet, I also drew all of the icons, illustrations, and infographics.",
      link:'http://issuu.com/kyla.v/docs/ib_booklet?workerAddress=ec2-54-224-253-214.compute-1.amazonaws.com',
      link_class:'icon-link',
      link_txt:'Read the booklet'
    },
 {
      title: 'Codpen Projects',
      subtitle: 'Experiments and Demos',
      image_cover:'codpen_cover.jpg',
      image_set: [['gen_art.jpg', 'https://codepen.io/kvana/pen/YNYOGo', 'Generative art', 'View the demo'], ['port_dnj.gif', 'https://codepen.io/kvana/pen/PbGaqo', 'Simple RPG built with Javascript', 'View the demo'], ['spr_edit.gif', 'https://codepen.io/kvana/pen/WjrELz', 'Sprite editor built with javascript and <canvas>', 'View the demo']],
      desc:"Codepen is a great tool for creating demos and learning code, I use it nearly every day to test an idea or learn something new.  These are just a few of the projects I’ve built in Codpen, please visit my profile to see more!",
      link:'https://codepen.io/kvana/',
      link_class:'icon-link',
      link_txt:'View my Profile'
    },
  ];
});
// End Angular Module
</script>      

</body>
</html>
