@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
  height: 100%
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  height: 100%;
  overflow-x: hidden
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif
}

.hr {
  border-top: 1px solid #eee;
  width: 100%;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  height: auto;
}
.flex_container{
    min-height: calc(100vh - 65px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.container:after {
  content: "";
  display: table;
  clear: both
}

.container-hide {
  height: 0px !important;
  min-height: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}

.full,
.one-fourth,
.one-half,
.one-third,
.three-fourths,
.two-thirds {
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 10px
}

.full {
  float: none;
  display: block;
}

.group:after {
  content: "";
  display: table;
  clear: both
}

.header {
  position: static;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  z-index: 90;
  background-color: #F4F4F4;
  width: 100%
}

.header_name {
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  margin-top:20px;
  letter-spacing:-.035em;
    float:none;
  text-align:center;
}
  .header_name li {
    margin:0;
    padding:0;
    margin-top: 3px;
    font-size: 9.5px;
    color: #777;
    opacity: 1;
    display:inline-block;
  }
.header_name li:first-of-type {
  color: #333;
}
.header_name li:not(:last-of-type):after {
  content: "·";
  margin-left: 3px;
  margin-right:1px
}

.header_nav{
  margin:0;
  list-style:none;
  padding:0;
text-align:center;
  font-size:0px;
}
.header_nav li{
  display:inline-block;
}
 .header_nav li a{
  z-index:10;
  box-sizing:border-box;
  position:relative;
  padding:5px;
  color:#222;
  text-decoration:none;
  font-size:18px;
   font-family: 'Roboto Slab', serif;
  letter-spacing:-.035em;
   padding-top:20px;
  padding-bottom:20px;
  display:inline-block; 
  transition: color .2s ease .25s;
}
.header_nav a:hover{
  color:#F4F4F4;
}
.header_nav li a:before{
    content:"";
  position:absolute;
  top:0;
  left:0;
  height:3px;
  width:100%;
     z-index:-1;
    transition: all .3s ease;
}
.header_nav a:hover:before{
  height:100%;
}
.nav_red:before{
  background:#f8465f;
}
.nav_blue:before{
    background:#7fd1f5;
}
.nav_green:before{
    background:#ACDD5E;
}


@media only screen and (min-width:600px) {
  .container {
    max-width: none;
    width: 480px
  }
  .one-fourth,
  .one-half,
  .three-fourths,
  .two-thirds {
    width: 50%
  }
}

@media only screen and (min-width:800px) {
  .container {
    max-width: none;
    width: 768px
  }
  .one-fourth {
    width: 25%
  }
  .one-third {
    width: 33%
  }
  .one-half {
    width: 50%
  }
  .two-thirds {
    width: 67%
  }
  .three-fourths {
    width: 75%
  }
  .header{
  position:fixed;
   }
.header_name {
  float:left;
  text-align:left;
}
  .header_name li {
    font-size: 11px;
  }
.header_nav{
text-align:right;
 }
} 

@media only screen and (min-width:1000px) {
  .container {
    max-width: none;
    width: 960px
  }
  }

/*////PORTFOLIO////*/
.portfolio_cont{
 margin-bottom:30px; 
 margin-top:20px;'
}
.content{
  margin-bottom:20px;
  opacity:0;
}

.content-wrap {
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.frontface{
    background-color:#f8465f;
}
.backface {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: white;
  visibility: hidden;
  box-sizing: border-box;
  overflow: hidden;
  background-image:url(card_bg.png);
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.backface h1,
.backface h2 {
  margin: 0;
  padding: 0;
}

.backface h1 {
  border-bottom: 1px solid white;
  font-size: 1.6em;
}

.backface h2 {
    font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
}

.content-wrap:hover .frontface {
  visibility: hidden;
}

.content-wrap:hover .backface {
  visibility: visible;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.content-wrap img {
  width: 100%;
  height: auto;
}

.lightbox {
  width: 100%;
  position: absolute;
  left: 0;
  top: -100vh;
  background: #f8465f;
  opacity: 0;
  z-index: -1;
  color: white;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  transition: top .3s ease-out;
}

.lightbox.expand {
  z-index: 300;
  height: auto;
  min-height: 100vh;
  opacity: 1;
  top:0px;
}

.lightbox-content {
  position: static;
  max-width: 480px;
  margin: 0 auto;
}

.lightbox-text {
  width: 100%;
  float: none;
}

.lightbox-text h1,
.lightbox-text h2 {
  margin: 0;
}
.lightbox-text h2 {
 font-size: 1.1em;
}

.lightbox-image {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.lightbox-image img {
  width: 100%;
  height: auto;
}

.lightbox .close {
  position:absolute;
  top:10px;
  right:10px;
  padding: 0;
  margin: 0;
  line-height: .6em;
  font-size: 50px;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  color: white;
  margin: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.lightbox .close:hover {
background: white;
    color: #f8465f;
    border-radius: 3px;
}

.lightbox-link{
  margin-left:5px;
  background:none;
  display:inline-block;
  padding:7px;
  box-sizing:border-box;
  border-radius:3px;
  color:white;
  border:1px solid white;
  transition: all .3s ease-out;
  text-decoration:none;
}
.lightbox-link:hover{
  color:#f8465f;
  background:white;
}
.lightbox-link span{
  margin-left:1.6em;
}
/*new link stuff*/
i{
  color:white;
}
i.icon-link{
  position: absolute;
  margin-left: 8px;
  margin-top: 10px;
  width: 7px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(-45deg);
     transition: all .3s ease-out;
}

i.icon-link:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

i.icon-link:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

i.icon-dl{
  position: absolute;
  margin-left: 3px;
  margin-top: 12px;
  width: 13px;
  height: 4px;
  border-radius: 1px;
  border: solid 1px currentColor;
  border-top: none;
     transition: all 0s ease-out;
}

i.icon-dl:before {
  content: '';
  position: absolute;
  left: 6px;
  top: -9px;
  width: 1px;
  height: 10px;
  background-color: currentColor;
     transition: all .3s ease-out;
}

i.icon-dl:after {
  content: '';
  position: absolute;
  left: 4px;
  top: -4px;
  width: 4px;
  height: 4px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
          transform: rotate(135deg) translateY(0px);
     transition: all .3s ease-out;
}
i.icon-pic{
  position: absolute;
  margin-left: 2px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: solid 1px currentColor;
    transition: all .3s ease-out;
}

i.icon-pic:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px currentColor;
}

i.icon-pic:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 9px;
  width: 12px;
  height: 8px;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
          transform: rotate(-45deg);
}

/*animate link on hover*/
.lightbox-link:hover i{
  color:#f8465f;
}
.lightbox-link:hover i.icon-link{
  transform:rotate(315deg);
}

.lightbox-link:hover i.icon-dl:before{
  transform:translateY(4px);
}
.lightbox-link:hover i.icon-dl:after{
  transform:rotate(135deg) translate(2px,-2px);
}
.lightbox-link:hover i.icon-pic{
  transform:scale(1.2);
}

/*big phone*/
@media only screen and (min-width: 600px) {

}

/*tablet*/
@media only screen and (min-width: 800px) {
  .portfolio_cont{
 margin-top:90px;'
}
}

/*desktop*/
@media only screen and (min-width: 1000px) {
  .lightbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lightbox-content {
    max-width: 1200px;
    width: 75%;
    margin:0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lightbox-text {
    width: 33%;
    float: left;
  }
  .lightbox-image {
    width: 66%;
    float: left;
    height: auto;
    margin: 0px;
  }
  .lightbox-image img {
  width: 80%;
}
  .lightbox .close {
  top:0;
  right:0;
}
}

/*////ABOUT ME////*/
  .cv_left,
  .cv_right {
    width: 100%;
  }
.cv_left, .cv_right {
  padding-left: 0;
}
.cv_left h3,
.cv_right h3 {
  margin: 0;
  color: #5dbfea;
  font-size:2.2em;
  font-weight:lighter;
  line-height:1.2em;
}

.cv_foot,
.cv_head {
  text-align: center;
  margin-bottom: 20px;
}

.cv_head h1 {
  margin-bottom: 0;
  display: inline-block;
  border-top: 3px solid #333;
}

.cv_head p {
  padding-bottom: 5px;
}

.cv_more {
  position: static;
  text-align: center;
  font-size: .9em;
  margin-top: 10px;
  margin-bottom: 50px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.cv_more a {
  display: inline-block;
  margin-top: 20px;
  color: #6a6a6a;
  text-decoration: none;
  border: 1px solid #6a6a6a;
  padding: 4px 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.cv_more a:hover {
  color: #35ACEF;
  border: 1px solid #35ACEF;
}

.cv_list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
  font-size: .9em
}

.cv_group ul:not(:last-of-type) {
  border-bottom: 1px solid #eee
}

.cv_list .cv_title {
  font-weight: 700;
  text-align: center;
  background: #f4f4f4;
}

.cv_date {
  margin-top: 10px;
  margin-bottom: 10px
}

.cv_img {
  overflow: hidden;
}

.cv_img img {
  height: 40px;
  width: 40px;
  float:left;
  margin-right: 5px;
}

.creative {
  display: block;
}

.cv_img_small {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.creative_header {
    display: block;
    padding-bottom: 5px;
}

.cv_group p {
  font-size: .9em
}

/*////CONTACT////*/

.cont_link {
  padding: 2px 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display: inline-block;
  font-size: 1.25em;
  border-radius:3px;
}
.contact_col {
  width: 50%;
  text-align: center;
    -webkit-transition: all .2s ease;
  transition: all .2s ease;
    -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px)
}
.contact_col:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px)
}
.contact_col a {
  text-decoration: none;
  color: #6a6a6a;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  display:block;
}
.contact_col a:hover {
  color: white;
}
.contact_col img {
  border: none;
  outline: 0
}
.contact_col a:hover .cont_link {
background:#8CC63E;
color:white;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 12px;
  bottom: 0;
  height: 40px;
  display: table;
  border-top: 1px solid #eee;
  background-color: #F4F4F4
}

.footer p {
  padding: 0;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  color: #888
}
@media only screen and (min-width:800px) {
  .cont_container {
    margin-bottom: 0
  }
  .contact_col {
    width: 25%
  }
  .contact_col img {
    width: 100%;
    max-width: 200px;
    border: none;
    outline: 0
  }
}
